<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Geoloqi</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>API Endpoint</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>serverURL</string>
			<key>DefaultValue</key>
			<string>http://api.geoloqi.com/1/</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Refresh Token</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>refreshToken</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Access Token</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>accessToken</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Key</key>
			<string>About</string>
			<key>File</key>
			<string>About</string>
		</dict>
	</array>
</dict>
</plist>
